table {
  border-collapse: collapse;
}

.btn {
  height: 30px;
  padding: 0 20px;
  border-radius: 4px;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  font-size: 16px;
  display: grid;
  place-content: center;
  margin-right: 4px;
  cursor: pointer;
}

.btn:disabled {
  background-color: rgb(138, 136, 136);
}

.sushi-row {
  background-color: rgb(9, 42, 74);
}

.sushi-row td:first-child {
  padding-left: 20px;
  border-radius: 8px 0 0 8px;
}

.sushi-row td:last-child {
  padding-right: 20px;
  border-radius: 0 8px 8px 0;
}

td {
  padding: 6px;
}

tr td:first-child {
  width: 220px;
}

tr td:last-child {
  width: fit-content;
}

td.value {
  width: 70px;
  padding-left: 20px;
}

hr {
  background-color: #333;
}
